.u-block-bf9e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bf9e-3 {
  position: absolute;
  left: 0;
}

.u-block-bf9e-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/istockphoto-618225484-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 115px 88px 0 107px;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  margin: 439px 439px 0 -321px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 692px;
  }
}

 .u-section-1-2 {
  background-image: url("images/istockphoto-692096736-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 303px auto 0 23px;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  margin: 16px 439px 60px -321px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-1-3 {
  background-image: url("images/products-rcp-and-precast-manholes-indiviual-stacked-1040x468.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  margin: 244px auto 0 69px;
}

.u-section-1-3 .u-text-2 {
  font-weight: 700;
  margin: 8px 384px 60px -266px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 687px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 597px;
  }
}

 .u-section-1-4 {
  background-image: url("images/image.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0 -31px;
}

.u-section-1-4 .u-text-2 {
  font-weight: 700;
  margin: 24px 312px 60px -194px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

 .u-section-1-5 {
  background-image: url("images/2023-09-12.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 61px auto 0 140px;
}

.u-section-1-5 .u-text-2 {
  font-weight: 700;
  margin: 31px 213px 60px -95px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 88px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1147px;
}

.u-section-2 .u-image-1 {
  height: 573px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 790px;
  min-height: 862px;
  background-image: none;
  margin: -399px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 4px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-2 .u-text-3 {
  width: 508px;
  line-height: 2;
  font-size: 1.375rem;
  margin: 45px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  align-self: center;
  margin: 60px auto 0;
  padding: 17px 46px 17px 45px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2667em;
  vertical-align: 0px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto -36px -11px;
}

.u-section-3 .u-image-1 {
  min-height: 570px;
  background-image: url("images/rcc-concrete-pipe-500x500.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 90px 0 0;
}

.u-section-3 .u-text-3 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 470px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 3px;
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    position: relative;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: NaNpx;
    margin-right: 43px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 61px;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 272px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 271px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-right: 43px;
  padding-bottom: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 69px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 35px 21px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 271px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 43px;
  padding-bottom: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 69px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  width: 328px;
  margin: 35px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 271px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-right: 43px;
  padding-bottom: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 69px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  width: 328px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 366px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-1 {
    width: 270px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-2 {
    width: 271px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-3 {
    width: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-1 {
    width: 207px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-2 {
    width: 207px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-3 {
    width: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: 194px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    width: 194px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    width: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-4 .u-text-1 {
    width: 208px;
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 38px;
  }

  .u-section-4 .u-text-2 {
    width: 163px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 40px;
  }

  .u-section-4 .u-text-3 {
    width: 192px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 748px;
}

.u-section-5 .u-group-1 {
  width: 1120px;
  min-height: 292px;
  height: auto;
  margin: 6px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-style: italic;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1300px;
  margin: 36px auto 6px 0;
}

.u-section-5 .u-image-1 {
  min-height: 409px;
  background-image: url("images/Kerb-Cement-Stone.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  min-height: 409px;
  background-image: url("images/RCC-Round-Pipes.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  min-height: 409px;
  background-image: url("images/slide4.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  min-height: 409px;
  background-image: url("images/91d9353e9952a3c71cf9ec0bd6495796caec8444e93a98653721071381de75f072358a7f4ea20ebcbc2beaf55a42b7501c5dd5d831cb3fde981d37_1280.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 862px;
  }

  .u-section-5 .u-group-1 {
    width: 738px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 337px;
  }

  .u-section-5 .u-image-3 {
    min-height: 337px;
  }

  .u-section-5 .u-image-4 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 565px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-1 {
    min-height: 516px;
  }

  .u-section-5 .u-image-3 {
    min-height: 516px;
  }

  .u-section-5 .u-image-4 {
    min-height: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 530px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 774px;
  }

  .u-section-5 .u-image-3 {
    min-height: 774px;
  }

  .u-section-5 .u-image-4 {
    min-height: 774px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-1 {
    min-height: 487px;
  }

  .u-section-5 .u-image-3 {
    min-height: 487px;
  }

  .u-section-5 .u-image-4 {
    min-height: 487px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/a1ad3c985cfbd488b2a89735284a07e7.jpeg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 597px;
}

.u-section-6 .u-group-1 {
  width: 798px;
  min-height: 347px;
  height: auto;
  margin: 125px auto 55px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 23px auto 0;
}

.u-section-6 .u-text-1 {
  position: relative;
  font-style: italic;
  line-height: 1.4;
  margin: 25px 20px 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 20px 20px 23px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-6 .u-group-1 {
    width: 658px;
    min-height: 376px;
    margin-top: 90px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-6 .u-group-1 {
    min-height: 460px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-6 .u-group-1 {
    min-height: 529px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 55px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  min-height: 663px;
  background-image: url("images/fvmin.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 860px);
  left: 0;
  right: auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 533px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-7 .u-line-1 {
  width: 43px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-7 .u-form-1 {
  margin: 30px 69px 0 0;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 453px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 860px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 212px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 276px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 593px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 162px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 457px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 444px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1171px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 286px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 284px;
  }
} .u-section-8 {
  min-height: 366px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 366px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding-right: 35px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-8 .u-text-1 {
  letter-spacing: 1px;
  position: relative;
  margin: 35px 96px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 366px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-8 .u-text-2 {
  letter-spacing: 1px;
  position: relative;
  margin: 35px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 366px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-8 .u-text-3 {
  letter-spacing: 1px;
  margin: 53px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 29px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 65px;
    margin-left: 65px;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: 35px;
  }

  .u-section-8 .u-text-3 {
    position: relative;
    margin-right: 9px;
    margin-bottom: 35px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 35px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 66px;
    margin-bottom: 35px;
    margin-left: 66px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 110px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 210px;
    margin-left: 210px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 35px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 156px;
    margin-right: 156px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 771px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 112px;
    margin-bottom: 0;
    margin-left: 112px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 257px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 0;
  }
}